openapi: 3.0.3
info:
  title: Ayra TRQP Profile API
  version: 1.0.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    Combined OpenAPI specification for the Ayra Trust Network TRQP implementation.
    Endpoints are organized by tag:
    - **trqp-core**: TRQP v2.0 compliant endpoints (`POST /authorization`, `POST /recognition`)
    - **ayra-extension**: Ayra-specific extension endpoints for metadata, entity lookup, ecosystem discovery, and lookups

    See the [Ayra TRQP Profile](https://ayraforum.github.io/ayra-trust-registry-resources/) for normative requirements.

servers:
  - url: https://example-trust-registry.com
    description: Production server (example)
  - url: https://sandbox-tr.ayra.technology
    description: Sandbox server (Ayra)

tags:
  - name: trqp-core
    description: TRQP Compliant Queries
  - name: ayra-extension
    description: Ayra Extensions to TRQP
  - name: lookup
    description: Lookup endpoints for discovery of trust parameters

security:
  - {}
  - bearerAuth: []

paths:
  
  /authorization:
    post:
      summary: Queries registry for Authorization, by an Ecosystem, of an Entity.
      operationId: queryAuthorization
      tags:
        - trqp-core
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
          description: Content type must be application/json
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
          description: Bearer token for authentication (conditional based on registry policy)
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Optional UUID for request tracing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrqpAuthorizationQuery'
      responses:
        200:
          description: Authorization query successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrqpAuthorizationResponse'
        400:
          description: Bad request - invalid JSON or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: Unauthorized request - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: Entity, authority, action, or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /recognition:
    post:
      summary: Queries registry for recognition, by an ecosystem, of another ecosystem.
      operationId: queryRecognition
      tags:
        - trqp-core
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
          description: Content type must be application/json
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
          description: Bearer token for authentication (conditional based on registry policy)
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Optional UUID for request tracing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrqpRecognitionQuery'
      responses:
        200:
          description: Recognition query successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrqpRecognitionResponse'
        400:
          description: Bad request - invalid JSON or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: Unauthorized request - invalid or missing bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: Entity, authority, action, or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /metadata:
    get:
      summary: Retrieve Trust Registry Metadata
      tags:
        - ayra-extension
      description: |
        Returns Trust Registry Metadata as a JSON object.
      operationId: getTrustRegistryMetadata
      parameters:
        - name: egf_did
          in: query
          required: false
          description: An optional identifier specifying which ecosystem's metadata should be retrieved.
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved Trust Registry Metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustRegistryMetadata"
        "404":
          description: Metadata not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /entities/{entity_id}:
    get:
      summary: Retrieve Entity Information
      tags:
        - ayra-extension
      description: |
        Retrieves information about a specific entity.
      operationId: getEntityInformation
      parameters:
        - in: path
          name: entity_id
          required: true
          description: A unique identifier for the entity.
          schema:
            type: string
      responses:
        "200":
          description: Entity information successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: A JSON object containing entity information.
        "404":
          description: Entity not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /entities/{entity_did}/authorizations:
    get:
      summary: List Authorizations that this Entity has
      tags:
        - ayra-extension
      description: |
        Retrieves a collection of authorizations that this entity has, according to the ecosystem queried.
      operationId: listEntityAuthorizations
      parameters:
        - name: entity_did
          in: path
          required: true
          description: Unique identifier of the entity being queried.
          schema:
            type: string
        
        - name: time
          in: query
          required: false
          description: RFC3339 timestamp indicating when recognition is checked.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Entity authorizations retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TrqpAuthorizationResponse"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Ecosystem not recognized or not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /entities:
    get:
      summary: List Entities (Ayra extension)
      tags:
        - ayra-extension
      description: |
        Returns a paginated list of entities known to the Trust Registry,
        optionally filtered by ecosystem and/or by a specific authorization
        (action + resource pair from `/lookups/authorizations`).

        This endpoint is OPTIONAL. Registries that do not implement it MUST
        return HTTP 501.
      operationId: listEntities
      parameters:
        - name: ecosystem_did
          in: query
          required: false
          description: Restrict the listing to entities recognized within this ecosystem.
          schema:
            type: string
        - name: action
          in: query
          required: false
          description: |
            Filter entities to those holding an authorization for this action.
            If provided, `resource` MUST also be provided. Values SHOULD come
            from `GET /lookups/authorizations`.
          schema:
            type: string
        - name: resource
          in: query
          required: false
          description: |
            Filter entities to those holding an authorization for this resource.
            If provided, `action` MUST also be provided.
          schema:
            type: string
        - name: time
          in: query
          required: false
          description: RFC3339 timestamp; entities authorized as of this time.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum number of entities to return. Default 100, max 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          required: false
          description: Zero-based offset into the result set.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Entity list retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityListResponse"
        "400":
          description: Invalid query parameters (e.g., `action` without `resource`, or out-of-range pagination).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Ecosystem not found (when `ecosystem_did` filter is unknown).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /ecosystems/{ecosystem_did}:
    get:
      summary: Retrieve Ecosystem Information
      tags:
        - ayra-extension
      description: |
        Retrieves information about a specific ecosystem, including its metadata, recognition status, and other details.
      operationId: getEcosystemInformation
      parameters:
        - name: ecosystem_did
          in: path
          required: true
          description: Unique identifier (DID) of the ecosystem being queried.
          schema:
            type: string
      responses:
        "200":
          description: Ecosystem information successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                description: A JSON object containing ecosystem information.
        "404":
          description: Ecosystem not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /ecosystems/{ecosystem_did}/recognitions:
    get:
      summary: List Recognized Ecosystems
      tags:
        - ayra-extension
      description: |
        Retrieves a collection of recognized ecosystems for a specified governance framework.
      operationId: listEcosystemRecognitions
      parameters:
        - name: ecosystem_did
          in: path
          required: true
          description: Unique identifier of the ecosystem being queried.
          schema:
            type: string
        - name: time
          in: query
          required: false
          description: RFC3339 timestamp indicating when recognition is checked.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Ecosystem recognitions retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TrqpRecognitionResponse"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Ecosystem not recognized or not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
  
  /lookups/assuranceLevels:
    get:
      summary: Lookup Supported Assurance Levels
      tags:
        - ayra-extension
        - lookup
      description: |
        Retrieves the supported assurance levels for the specified ecosystem.
      operationId: lookupSupportedAssuranceLevels
      parameters:
        - name: ecosystem_did
          in: query
          required: false
          description: Unique identifier of the ecosystem being queried.
          schema:
            type: string
      responses:
        "200":
          description: Supported assurance levels retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssuranceLevelResponse"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /lookups/authorizations:
    get:
      summary: Lookup Authorizations
      tags:
        - ayra-extension
        - lookup
      description: |
        Performs an authorization lookup based on the provided ecosystem identifier. The returned action+resource pairs can be used in TRQP authorization queries for this ecosystem.
      operationId: lookupAuthorizations
      parameters:
        - name: ecosystem_did
          in: query
          required: false
          description: Ecosystem identifier.
          schema:
            type: string
      responses:
        "200":
          description: A list of authorization responses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Authorization"
        "404":
          description: Entity not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  /lookups/didMethods:
    get:
      summary: Lookup Supported DID Methods
      tags:
        - ayra-extension
        - lookup
      description: |
        Retrieves the supported DID Methods. AYRA is opinionated here.
      operationId: lookupSupportedDIDMethods
      parameters:
        - name: ecosystem_did
          in: query
          required: false
          description: Unique identifier of the ecosystem being queried.
          schema:
            type: string
      responses:
        "200":
          description: Supported DID Methods retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DIDMethodListType"
        "401":
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "404":
          description: Ecosystem not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
        "501":
          description: Method not implemented.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication. Registries MAY require this scheme according to their access policy; public endpoints MAY allow unauthenticated requests.
  schemas:
    


    ProblemDetails:
      type: object
      description: |
        A Problem Details object as defined in [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807).
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem.
        status:
          type: integer
          description: The HTTP status code (e.g., 404 for "Not Found").
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence of the problem.
      additionalProperties: true


    TrqpRecognitionQuery:
      type: object
      description: |
        A query request to a Trust Registry that supports TRQP 2.0. 
        Conforms with the schemas defined in TRQP 2.0. and matches the schema objects:
        - trqp_recognition_request.jsonschema
        Used by the following TRQP POST queries:
        - POST /recognition
      properties:
        entity_id:
          type: string
          format: URI
          description: |
            Unique identifier of the TRUST REGISTRY (identified by DID) that is the subject of the query. 
            This is the "other trust registry" in the "Does your ecosystem recognized this **other trust registry** as assertion_id?". 
        authority_id:
          type: string
          format: URI
          description: |
            Unique identifier of the ECOSYSTEM (identified by DID) that is being queried. 
            This is the "your ecosystem" in the "Does **your ecosystem** recognize this other trust registry as assertion_id?".
        action: 
          type: string
          description: The action that the query is checking Recognition for.
        resource: 
          type: string
          description: The resource that the query is is checking Recognition for.
        context:
          type: object
          properties:
            time:
              type: string
              format: date-time
              description: |
                RFC3339 timestamp indicating when recognition is checked. 
                Defaults to "now" on system being queried if omitted.
          additionalProperties:
            type: string
          description: |
            A flexible context object that can hold arbitrary key-value pairs. 
            - NOTE: `time` is codified as it is a standard context to be considered.
      required:
        - entity_id 
        - authority_id
        - action
        - resource

    TrqpAuthorizationQuery:
      type: object
      description: |
        A query request to a Trust Registry that supports TRQP 2.0. 
        Conforms with the schemas defined in TRQP 2.0. and matches the schema objects:
        - trqp_authorization_request.jsonschema
        Used by the following TRQP POST queries:
        - POST /authorization 
      properties:
        entity_id:
          type: string
          description: |
            Unique identifier of the TRUST REGISTRY (identified by DID) that is the subject of the query. 
            This is the 'EntityX` in the "Does **EntityX** have AuthorityY in EcosystemZ?". 
        authority_id:
          type: string
          description: |
            Unique identifier of the ECOSYSTEM (identified by DID) that is being queried. 
            This is the "EcosystemZ" in the "Does EntityX have AuthorityY in **EcosystemZ**?". 
        action: 
          type: string
          description: The action that the query is checking Authorization for.
        resource: 
          type: string
          description: The resource that the query is is checking Authorization for.
        context:
          type: object
          properties:
            time:
              type: string
              format: date-time
              description: |
                RFC3339 timestamp indicating when recognition is checked. 
                Defaults to "now" on system being queried if omitted.
          additionalProperties:
            type: string
          description: |
            A flexible context object that can hold arbitrary key-value pairs. 
            - NOTE: `time` is codified as it is a standard context to be considered.
      required:
        - entity_id 
        - authority_id
        - action
        - resource

    TrqpRecognitionResponse:
      type: object
      description: |
        A recognition response conforming to TRQP 2.0 specification and the
        trqp_recognition_response.jsonschema requirements.
      properties:
        entity_id:
          type: string
          description: The identifier of the subject of the recognition query.
        authority_id:
          type: string
          description: The id of the Authority entity.
        action: 
          type: string
          description: The action that the query is checking Recognition for.
        resource: 
          type: string
          description: The resource that the query is is checking Recognition for.
        recognized:
          type: boolean
          description: True if the assertion has been verified, false otherwise.
        time_requested:
          type: string
          format: date-time
          description: The server time that was used in the query.
        time_evaluated:
          type: string
          format: date-time
          description: The server time that was used in the query.
        message:
          type: string
          description: Additional details attached to the response about the assertion.
        context:
          type: object
          description: The context object that was supplied for the query that was evaluated.
          properties:
            time:
              type: string
              format: date-time
              description: Time for query to use. If blank, uses current server time. RFC3339 required, using only Z (+00:00) offset.
          additionalProperties:
            type: string
      required:
        - entity_id 
        - authority_id
        - action
        - resource
        - time_evaluated
        - recognized

    TrqpAuthorizationResponse:
      type: object
      description: |
        An authorization response conforming to TRQP 2.0 specification and the
        trqp_authorization_response.jsonschema requirements.
      properties:
        entity_id:
          type: string
          description: The identifier of the subject of the authorization.
        authority_id:
          type: string
          description: The id of the Authority entity.
        action: 
          type: string
          description: The action that the query is checking Authorization for.
        resource: 
          type: string
          description: The resource that the query is is checking Authorization for.
        authorized:
          type: boolean
          description: True if the entity is authorized, false otherwise.
        time_requested:
          type: string
          format: date-time
          description: The server time that was requested (may be blank).
        time_evaluated:
          type: string
          format: date-time
          description: The server time that was used in the query.
        message:
          type: string
          description: Additional details attached to the response about the assertion.
        context:
          type: object
          description: The context object that was supplied for the query that was evaluated.
          properties:
            time:
              type: string
              format: date-time
              description: Time for query to use. If blank, uses current server time. RFC3339 required, using only Z (+00:00) offset.
          additionalProperties:
            type: string
      required:
        - entity_id 
        - authority_id
        - action
        - resource
        - time_evaluated
        - authorized


    TrustRegistryMetadata:
      type: object
      required:
        - ecosystem_did
        - description
      properties:
        ecosystem_did:
          type: string
          description: Unique identifier of the Ecosystem that the Trust Registry is associated with. This is used in TRQP queries as the `ecosytem_id` value.
        trustregistry_did:
          type: string
          description: Unique identifier, as DID, of the Trust Registry. 
        egf_did:
          type: string
          description: The Primary EGF, identified by DID, for the ecosystem.
        
        description:
          type: string
          maxLength: 4096
          description: A description of the Trust Registry.
        name:
          type: string
          description: Human-readable name of the Trust Registry.
        controllers:
          type: array
          description: List of unique identifiers representing the controllers of the Trust Registry.
          items:
            type: string
          minItems: 1
        additionalProperties:
            type: string

    Authorization:
      type: object
      properties:
        action:
          type: string
        resource:
          type: string
        description: 
          type: string
          description: |
            Non-normative information about the action+resource pair.
      required:
        - action
        - resource

    AssuranceLevelResponse:
      type: object
      properties:
        egf_did:
          type: string
          description: EGF DID this assurance level applies to.
        assurance_level:
          type: string
          description: The assurance level.
        description:
          type: string
          description: Details about the assurance level.

      required:
        - assurance_level
        - description

    DIDMethodType:
      type: object
      required:
        - identifier
      description: |
        DID Method supported by the trust registry. May include the maximum assurance level that this DID Method can support
      properties:
        identifier:
          type: string
          description: |
            as "maintained" at [W3C](https://w3c.github.io/did-spec-registries/#did-methods) 
        egf_did:
          type: string
          description: EGF DID this DID Method applies to.
        maximumAssuranceLevel:
          description: |
            A DID Method may, due to technical or human trust considerations be limited in the assurance level that it can provide.
          allOf:
            - $ref: "#/components/schemas/AssuranceLevelType"
    
    
    
    
    DIDMethodListType:
      type: array
      items:
        $ref: "#/components/schemas/DIDMethodType"
    
    
    
    AssuranceLevelType:
      type: object
      description: >
        Creates assurance level as a top-level/first-class-citizen of a Trust
        Registry. AssuranceLevel values

        MUST be defined in an EGF if they are used.
      required:
        - identifier
        - name
        - description
      properties:
        identifier:
          type: string
          format: URI
          example: did:example:123
        name:
          type: string
          example: LOA2
        description:
          type: string
          example: "Level of Assurance 2 - see EGF for definition, terms, obligations, liabilities, and indemnity"

    EntitySummary:
      type: object
      description: |
        Minimal summary of an entity in a Trust Registry, used in list responses.
        Callers can retrieve the full record via `GET /entities/{entity_id}`.
      required:
        - entity_id
      properties:
        entity_id:
          type: string
          format: URI
          description: Unique identifier (typically a DID) for the entity.
        name:
          type: string
          description: Optional human-readable name for the entity.
        type:
          type: string
          description: Optional implementation-specific entity type or category.
        ecosystem_did:
          type: string
          description: Optional identifier of the ecosystem this entity is associated with.

    EntityListResponse:
      type: object
      description: A paginated list of entity summaries returned by `GET /entities`.
      required:
        - items
        - pagination
      properties:
        items:
          type: array
          description: The page of entity summaries.
          items:
            $ref: "#/components/schemas/EntitySummary"
        pagination:
          type: object
          description: Pagination metadata for this response.
          required:
            - limit
            - offset
            - total
          properties:
            limit:
              type: integer
              description: The `limit` value applied to this response.
            offset:
              type: integer
              description: The `offset` value applied to this response.
            total:
              type: integer
              description: Total number of entities matching the filter, across all pages.

